html {
    scroll-behavior: smooth;
}

body {
    background-color: #f8f9fa;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#output {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.light-mode {
    background-color: white;
    color: black;
}

.light-mode .navbar {
    background-color: #f8f9fa;
}

.light-mode .border {
    border-color: #ccc;
}

.terminal-mode {
    background-color: black;
    color: green;
}

.terminal-mode .navbar {
    background-color: #222;
}

.terminal-mode .border {
    border-color: #444;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(#090120, #0252ff);
	border-radius: 20px;
}
